* {
  font-family: "Roboto", sans-serif;
}

.js-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  padding: 16px;

  &__person {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #252525;
    background-color: #afafaf;
    padding: 16px;
    box-sizing: border-box;
  }
}
